/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; z-index: 1000;}
#cboxOverlay{position:fixed; width:100%; height:100%; z-index: 1000;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left; z-index: 1000;}
#cboxContent{position:relative; width: auto; z-index: 1000;}
#cboxLoadedContent{position: relative; overflow:auto; -webkit-overflow-scrolling: touch; width: auto; z-index: 1000;}
#cboxTitle{margin:0; z-index: 1000;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%; z-index: 1000;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer; z-index: 1000;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic; z-index: 1000;}
.cboxIframe{width:100%; height:100%; display:block; border:0; z-index: 1000;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; z-index: 1000;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#040404; z-index: 999; position: absolute; height: 100%; width: 100%; top: 0px; left: 0px;}
#colorbox{outline:0; z-index: 1000;}
    #cboxContent{margin-top:32px; overflow:visible; background:#cbcbcb; z-index: 1000;-webkit-border-radius: 20px; -moz-border-radius:20px; behavior:url(border-radius.htc)}
        .cboxIframe{background:#fff; z-index: 1000;}
        #cboxError{padding:50px; border:1px solid #ccc; z-index: 1000;}
    /**/ #cboxLoadedContent{ padding:10px; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius:20px; behavior:url(border-radius.htc); z-index: 1000; overflow: auto; height: auto; max-height: 600px;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center; z-index: 1000;}
        #cboxLoadingOverlay{ z-index: 1000;}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#03b932; z-index: 1000;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px; z-index: 1000;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(images/controls.png) no-repeat 0 0; z-index: 1000;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0; z-index: 1000;}

        #cboxPrevious{background-position:0px 0px; right:44px; z-index: 1000;}
        #cboxPrevious:hover{background-position:0px -25px; z-index: 1000;}
        #cboxNext{background-position:-25px 0px; right:22px; z-index: 1000;}
        #cboxNext:hover{background-position:-25px -25px; z-index: 1000;}
        #cboxClose{background-position:-50px 0px; right:0; z-index: 1000;}
        #cboxClose:hover{background-position:-50px -25px; z-index: 1000;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px; z-index: 1000;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px; z-index: 1000;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px; z-index: 1000;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px; z-index: 1000;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px; z-index: 1000;}